.button{
    border-radius: 30px;
    background-color: $main-color;
    color: #ffffff;
    font-weight: 400;
    line-height: 22.04px;
    text-align: center;
    text-transform: uppercase;
    border:none;
    font-size: 12px;
    height: 45px;
    display:block;
    &:hover{
        box-shadow: 3px 3px 10px #667076;
    }
    
    &:active, &:focus{
        outline:none;
    }
    &_medium{
        width: 180px;
    }
    &_big{
        width: 230px;
        height: 57px;
        font-size: 15px;
    }
    &_small{
        width: 160px;
    }
}
.input{
    width:268px;
    height:45px;
    border-radius:30px;
    border: 1px solid rgba(0, 0, 0, 0.21);
    padding-left: 28px;
    color: #101010;
    font-size: 13px;
    font-weight: 300;
    outline:none;
    
}
