.up-btn{
    position:fixed;
    right:20px;
    bottom:20px;
    z-index:9999;
    width:50px;
    height:50px;
    opacity:0;
    transition:all 0.8s;
    
    img{
        width:100%;
    }
    &_active{
        opacity:0.5;
        transition:all 0.8s;
        &:hover{
            opacity:1;
           
        }
        
    }
    
}